nbproject/*
autom4te.cache/*
nbproject/private/*
*.ncb
*.sln
*.suo
*.o
*.vcproj
*.1-ой.1.user
doc/*
*.conf
scripts/*
Makefile*
.gitignore
a*.cache/*
.deps/*
Makefile-TestRepo.mk
config.*
ggaoectl
ggaoed
stamp-h1
*.inc
*.m4
confdefs.h
configure