nbproject/*
autom4te.cache/*
nbproject/private/*
*.ncb
*.sln
*.suo
*.o
*.vcproj
*.1-ой.1.user
doc/*
*.conf
scripts/*
Makefile*
.gitignore
a*.cache/*
*.suo
Makefile-TestRepo.mk
*.inc
.deps/
*.m4
confdefs.h
config.*
configure
conftest.c
ggaoectl
stamp-h1
*.out