Source: ggaoed
Section: admin
Priority: extra
Maintainer: Gábor Gombás <gombasg@digikabel.hu>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7.0.50), docbook2x, pkg-config,
 libaio-dev, libatomic-ops-dev, libblkid-dev, libglib2.0-dev,
 linux-libc-dev (>= 2.6.27), autoconf (>= 2.59), automake
Homepage: http://code.google.com/p/ggaoed

Package: ggaoed
Section: admin
Priority: extra
# Only Linux-based architectures are supported
Architecture: i386 ia64 alpha amd64 armeb arm hppa m32r m68k mips mipsel
 powerpc ppc64 s390 s390x sh3 sh3eb sh4 sh4eb sparc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: AoE target implementation for Linux
 The ggaoed daemon lets you export a local block device or file over the
 network using the ATA over Ethernet (AoE) protocol. It has an easy to
 understand configuration syntax and aims to have a low overhead.
