Source: ggaoed
Section: admin
Priority: extra
Maintainer: Gábor Gombás <gombasg@sztaki.hu>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7), docbook-xsl, xsltproc,
 libaio-dev (>= 0.3.107), libatomic-ops-dev, libblkid-dev, libglib2.0-dev,
 pkg-config, linux-libc-dev (>= 2.6.30)

Package: ggaoed
Section: admin
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Description: AoE target implementation for Linux
 The ggaoed daemon allows exporting local disks using the AoE protocol.
